<a href="https://colab.research.google.com/github/Agawanevipul/ProgrammingAssignment2/blob/master/Homework_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Name : Vipul Agawane
### CWID : 10476138
###email: vagawane@stevens.edu

##### **Collaboration Policy.** Homeworks will be done individually: each student must hand in their own answers. Use of partial or entire solutions obtained from others or online is strictly prohibited.

### **Late Policy.** Late submission have a penalty of 2\% for each passing hour.

##### **Submission format** :  Complete this jupyter notebook to successfully implement recommender systems on the Movie Lens Dataset. Submit a .py file for this notebook along with the notebook. Go to file -> download as -> python (.py)

##### Only submit one .ipynb file and one .py file. The .ipynb file should have answers to all the questions. Do not .zip/.rar files for submission.

##### Download the dataset from the link - https://grouplens.org/datasets/movielens/1m/

In [1]:
# Import all the required libraries
import numpy as np
import pandas as pd
import operator

## Read the Dataset using read_csv function from Pandas

In [2]:
## Read the dataset from the two files into ratings_data, movies_data and user_data
ratings_data = pd.read_csv('ratings.dat', sep='::', encoding = "ISO-8859-1", header = None)
movies_data = pd.read_csv('movies.dat', sep='::', encoding = "ISO-8859-1", header = None)
user_data = pd.read_csv('users.dat', sep='::', encoding = "ISO-8859-1", header = None)
movies_data.head()

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

   0                                   1                             2
0  1                    Toy Story (1995)   Animation|Children's|Comedy
1  2                      Jumanji (1995)  Adventure|Children's|Fantasy
2  3             Grumpier Old Men (1995)                Comedy|Romance
3  4            Waiting to Exhale (1995)                  Comedy|Drama
4  5  Father of the Bride Part II (1995)                        Comedy

In [3]:
movies_data.head()

   0                                   1                             2
0  1                    Toy Story (1995)   Animation|Children's|Comedy
1  2                      Jumanji (1995)  Adventure|Children's|Fantasy
2  3             Grumpier Old Men (1995)                Comedy|Romance
3  4            Waiting to Exhale (1995)                  Comedy|Drama
4  5  Father of the Bride Part II (1995)                        Comedy

In [4]:
user_data.head()

   0  1   2   3      4
0  1  F   1  10  48067
1  2  M  56  16  70072
2  3  M  25  15  55117
3  4  M  45   7  02460
4  5  M  25  20  55455

In [5]:
ratings_data.head()

   0     1  2          3
0  1  1193  5  978300760
1  1   661  3  978302109
2  1   914  3  978301968
3  1  3408  4  978300275
4  1  2355  5  978824291

In [6]:
# adding column names 
movie_columns = ['MovieID', 'Title', 'Genres']
ratings_columns = ['UserID', 'MovieID', 'Rating', 'Timestamp']
user_columns = ['UserID', 'Gender', 'Age', 'Occupation', 'Zip-code']

In [7]:
# add columns to the dataframes
movies_data.columns = movie_columns
ratings_data.columns = ratings_columns
user_data.columns = user_columns

## Use <b>Numpy</b> to create a ratings data matrix. <b>Print the shape</b> of the matrix

In [8]:
rating_matrix = ratings_data.to_numpy()
rating_matrix.shape

(1000209, 4)

In [9]:
rating_matrix

array([[        1,      1193,         5, 978300760],
       [        1,       661,         3, 978302109],
       [        1,       914,         3, 978301968],
       ...,
       [     6040,       562,         5, 956704746],
       [     6040,      1096,         4, 956715648],
       [     6040,      1097,         4, 956715569]])

## Normalize the Ratings Data matrix

In [10]:
rating_matrix_norm = rating_matrix/np.linalg.norm(rating_matrix)
rating_matrix_norm

array([[1.02836091e-12, 1.22683457e-09, 5.14180457e-12, 1.00604626e-03],
       [1.02836091e-12, 6.79746564e-10, 3.08508274e-12, 1.00604765e-03],
       [1.02836091e-12, 9.39921875e-10, 3.08508274e-12, 1.00604751e-03],
       ...,
       [6.21129992e-09, 5.77938834e-10, 5.14180457e-12, 9.83837767e-04],
       [6.21129992e-09, 1.12708356e-09, 4.11344366e-12, 9.83848978e-04],
       [6.21129992e-09, 1.12811192e-09, 4.11344366e-12, 9.83848897e-04]])

## Use the SVD function from numpy to perform SVD on the normalised ratings data matrix. Print the shapes of U, S, V matrices.

In [ ]:
u, s, vtranspose = np.linalg.svd(rating_matrix_norm)
u.shape, np.diag(s).shape, vtranspose.shape

## Explain the differences between Cosine similarity and Euclidean distance. What are they and what do they do? Which one is better for movie recommendation and why?

Enter text here

### Based on cosine similarity and the matrix decomposition from SVD, sort the movies which are most similar and return the top 5 movies that match a given a movie title